.oppDetails{
	margin-left : 1%;
	padding-left: 1.5%;
}

.fieldDetails {
	border-bottom: 1px solid #c9c9c9;
	width: 90%;
	min-height: 0px;
	line-height: 35px;
}

.record-labels {
	font-size: 13px;
	font-weight: 700;
}

.quote-accordion {
	margin-top : 15px;
}

.quoteLines {
	margin-top : 15px;
}

.quoteLines-label {
	font-size: 13px;
	font-weight: 700;
}

.quoteLines-table {
	margin-top : 10px;
}

.no-quoteline-item {
	margin-top: 3%;
}